body {
  margin: 0px;
  background-color: #070707;
  color: #f9fcf5;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  width: 600px;
  height: auto;
  overflow: hidden;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 100px;
  border-top: 3px double #f1f1f1;
  border-bottom: 3px double #f1f1f1;
  padding-top: 20px;
}

#main table {
  font-family: 'Comic Sans MS', cursive;
}
/* css code for textbox */
#main .tb {
  height: 28px;
  width: 230px;
  border: 1px solid #070707;
  color: #070707;
  font-weight: bold;
  border-left: 5px solid #f7f7f7;
  opacity: 0.9;
}

#main .tb:focus {
  height: 28px;
  border: 1px solid #070707;
  outline: none;
  border-left: 5px solid #f7f7f7;
}

/* css code for button*/
#main .btn {
  width: 150px;
  height: 32px;
  outline: none;

  font-weight: bold;
  border: 0px solid #070707;
  text-shadow: 0px 0.5px 0.5px #fff;
  border-radius: 2px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: #fd2f2f;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

#main .btn:hover {
  background-color: #070707;
  outline: none;
  border-radius: 2px;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
.loading {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in;
}

.loading.show {
  opacity: 1;
}

.ball {
  background-color: #777;
  border-radius: 50%;
  margin: 5px;
  height: 10px;
  width: 10px;
  animation: jump 0.5s ease-in infinite;
}

.ball:nth-of-type(2) {
  animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}
